h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 800;
  src: url(Dosis-normal-800.woff) format("woff");
  unicode-range: U+0-10FFFF;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-family: "Source Sans Pro";
  font-style: normal;
  src: url(Source_Sans_Pro-normal-900.woff) format("woff");
  unicode-range: U+0-10FFFF;
}
